a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.tab-content {
	padding: 20px;
}

.form-group, .form-check {
	padding: 10px;
	padding-top: 0px;
}

main {
	padding: 15px;
}

.bg-dark {
	background-color: #2E2C35!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #4E5B51;
	border: solid 1px #95837A !important;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link {
	color: #9FA090;
	border: solid 1px transparent !important;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link:focus, .nav-link:hover {
	color: #8B8974;
}

.card-img-top {
	width: 100px;
}

.logo {
	width: 225px;
}

.pago {
	color:green;
}

.impago {
	color:red;
}

.control {
	padding: 10px;
}

.table-container {
	padding: 12px;
}
