<!-- Begin page content -->
<main class="flex-shrink-0 landing">
  <div class="container">
    
    <div style="margin-top: 150px; text-align: center;">
      <img class="logo-landing" src="../images/skol-logo.png" alt="gdin">
      <h2 class="mt-5">¡Bienvenido {{ usuario }}!</h2>
      <br>
      Hoy es {{fecha}}
      <br>
      La hora actual es {{hora}}
    </div>

  </div>
</main>