<main class="card shadow form-signin w-100 m-auto">
  <form action="/backoffice" method="post">

	<div class="mb-4" style="text-align:center">
  	<img class="logo" src="../images/skol-logo.png" alt="gdin">
   	<h4>Cervecería SKOL | Backoffice</h4>
	</div>
    
	<div class="form-floating">
    <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username">
    <label for="inputUsername">Usuario</label>
  </div>
    
	<div class="form-floating">
    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
    <label for="inputPassword">Contraseña</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Recordarme
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-secondary login" type="submit">Entrar</button>
	<br>
	<div class="error">{{status}}</div>
    <p class="mt-2 text-muted">
		&copy; Copyright 2022
		<br>
		<a href="https://cerveceriaskol.com.ar/">cerveceriaskol.com.ar</a>
	</p>
	
  </form>
  
</main>

