.form-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;	
	align-items: flex-end;
}

.table-container {
	padding: 12px;
}

.control {
	padding: 10px;
	width: 400px;
}

.title {
	padding: 12px; 
	padding-bottom: 0px;
}

.table>:not(:last-child)>:last-child>* {
	border-bottom-color: lightgray;
}

tbody, td, tfoot, th, thead, tr {
	height: 64px;
	vertical-align: middle;
}