a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.tab-content {
	padding: 20px;
}

.form-group, .form-check {
	padding: 10px;
	padding-top: 0px;
}

main {
	padding: 15px;
}

.pago {
	color:green;
}

.impago {
	color:red;
}

.bg-dark {
	background-color: #2E2C35!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #4E5B51;
	border: solid 1px #95837A !important;
}

.nav-link {
	color: #9FA090;
	border: solid 1px transparent !important;
}

.nav-link:focus, .nav-link:hover {
	color: #8B8974;
}

.card-container {
	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: flex-start;
}

.card {
	border-radius: 10px;
	border: solid 1px #9FA090;
	margin: 10px;
}

.img-top {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	align-content: center;
  	align-items: center;
	min-height: 50px !important; 
	padding: 15px; 
	padding-bottom: 0px;
}

.card-img-top {
	width: 100px;
}


