@charset "utf-8";
/* CSS Document */

html, body {
	color: #000;
	background: #332F29;
	font-size: 90%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media (max-width: 800px) {

	html, body, nav, section, aside {
		width: 100%;
		float: none;
		margin: 0px;
		color: lightgray;
	}

	html, body {
		background-color: white;
	}

	#contenedor {
		background-color: #2E2C35;
		display: flex;
		flex-direction: column;
		width: 100%;
		float: none;
	}

	h1, section, aside {
		padding: 15px;
		width: 97%;
	}

	h1, h2 {
		opacity: 0.65;
		color:whitesmoke;
	}

	p {
		opacity: 0.65;
		color:whitesmoke;
	}

	nav {
		background-color: #4E5B51;
		border-top: solid ;
	}

	section  {
		background-color: #896E60;
		border-top: solid ;
	}

	aside {
		background-color: #95837A;
		border-top: solid ;

	}

	li {
		padding: 10px;
	}

	a {
		color:whitesmoke;
		opacity: 0.65;
	}
	
}	