<div style="width: 100%; overflow-y:auto; padding: 25px">

  <h2 class="title">| {{ title }} |</h2>

  <div class="container"><div class="row">

    <div style="padding: 25px;">
      <h5 class="texto-sh">Fecha de publicación: 07-nov.-2021</h5>
      <div class="texto-sh">Vení a nuestro lugar a tomar las mejores cervezas de Buenos Aires.</div>
    </div>

    <hr>

    <div style="padding: 25px;">
      <h5 class="texto-sh">Fecha de publicación: 10-oct.-2021</h5>
      <div class="texto-sh">Habilitamos nueva seccion al aire libre para disfrutar de los dias de calor tomando cerveza bien fria.</div>
    </div>

    <hr>

    <div style="padding: 25px;">
      <h5 class="texto-sh">Fecha de publicación: 20-sep.-2021</h5>
      <div class="texto-sh">Sorteo Dia de la Primavera - Sigan nuestras redes y participen del sorteo por el día de la primavera. Un riquísimo tapeo para dos personas!!</div>
    </div>

    <hr>

    <div style="padding: 25px;">
      <h5 class="texto-sh">Fecha de publicación: 13-jun.-2021</h5>
      <div class="texto-sh">Gran Inauguracion - Av. Juan Bautista Alberdi 1376, abierto de Jueves a Domingo de 20:00 a 01:00</div>
    </div>

  </div></div>

</div>