<div style="width: 100%; overflow-y:auto; padding: 25px">

<h2 class="title">| {{ title }} |</h2>

  <div class="container"><div class="row">

    <div style="text-align: -webkit-center;">
        <div class="card-ubicacion"></div>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: center;">
          <div class="col-sm-3">
            <img style="" src="../images/whatsapp.png" alt="whatsapp" width="48" height="48">
            <br><br>
            <h5 class="texto">Contacto</h5>
            <div class="texto">011 3911-5295</div>
          </div>
          <div class="col-sm-3">
            <img style="" src="../images/geo-alt.png" alt="direccion" width="48" height="48">
            <br><br>
            <h5 class="texto">Dirección</h5>
            <div class="texto">Av. Juan Bautista Alberdi 1376</div>
            <div class="texto">1406 Buenos Aires</div>
            <div class="texto">Argentina</div>
          </div>
          <div class="col-sm-3">
            <img style="" src="../images/smartwatch.png" alt="horarios" width="48" height="48">
            <br><br>
            <h5 class="texto">Horarios</h5>
            <div class="texto">Jueves a Domingo</div>
            <div class="texto">20:00 a 01:00</div>
          </div>
        </div>
    </div>

  </div></div>

</div>