.color-info table th {
	font-size: 16px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 600;
}

.color-info table tr td.color-pre {
	font-size: 0;
	width: 35%;
	color: silver;
	text-transform: uppercase;
	line-height: 120%;
}

.color-info table tr td .color-display {
	display: inline-block;
	width: 70px;
	height: 70px;
	font-size: 8px;
	margin: 0 auto;
	border-radius: 4px;
	border: 2px solid #000;
}

.color-info table td {
	padding: 10px;
}

.color-info table td ul {
	margin: 0;
	padding: 10px 0;
	font-size: 13px;
	text-align: left;
	list-style: none;
}